@font-face {
	font-family: 'harry';
	src: url("./fonts/ParryHotter.ttf");
}
#titulo{
	font-family: Verdana, sans-serif;
	font-size: 26px;
	font-weight: 600;
	color: #cccccc;
}

#subtitulo{
	font: bold 20px Verdana;
	color: rgb(255, 0,255);
}

h1{
	font-family: 'harry';
	color: rgba(0, 0, 255, 0.8);
}

#descripcion{
	text-align: center;
	word-spacing: 10px;
	text-decoration: underline;
	width: 200px;
	height: 200px;
	/* overflow: scroll; */
	overflow: hidden;
	/* border: grosor estilo color; */
	/* border: 1px solid red; */
	border-style: solid /* dashed */ /* dotted */ /* groove */;
	border-color: red;
	/* border-width: 4px; */
	border-top-width: 2px;
	border-right-width: 3px;
	border-bottom-width: 4px;
	border-left-width: 5px;

	border-radius: 20px 10px 30px 50px;
	

	/* padding: arrriba, derecha, abajo, izquierda; 
		padding: arriba y abajo, derecha e izquieda
		margin tiene el mismo comportamiento*/
	padding-top: 10px;
	padding-bottom: 90px;
	padding-left: 40px;
	padding-right: 20px;

	margin: 12px;
	margin-bottom: 100px;

}

a{
	text-decoration: none;
	color: black;
}

header{
	background-color: #eeeeee;
   border: 1px solid;
   box-shadow: rgb(150, 150, 150) 10px 5px 10px ;
   /* box-shadow: rgb(150, 150, 150) 10px 5px 10px 10px; */
   /* box-shadow: rgb(150, 150, 150) 10px 5px 10px inset; */
}


/* body{
	background-image: url('./img/textura.PNG');
	background-repeat: no-repeat  repeat-y  repeat-x ;
} */

body{
	background: #cccccc url('./img/textura.PNG') repeat-y;
}

.boton{
  border:outset 15px #d114d1;
   
  border-top-left-radius:75px;
  border-top-right-radius:75px;
  border-bottom-left-radius:75px;
  border-bottom-right-radius:75px;

}